%ul{ class: "nav nav-pills nav-stacked" }
  - locations.each do |location|
    %li
      %span.rating
        - if params[:action] == "home"
          \##{location.overall_rating}
        - else
          \##{location.city_rating}
      %span.link
        = link_to location.name, location_slug_path(city: location.city.slug, name: location.name_slug), title: location.name