body {
  background-color: $brightest; 
  font-family: 'Roboto Condensed', sans-serif;
}

header {

  .logo {
    color: $dark_blue;
    font-family: 'Colleged', serif;
    font-size: 2.7em;
    font-weight: normal;
    line-height: normal;
    margin: 5px 0 0 0;
    text-transform: uppercase;

    em {
      color: $dark_red;
      font-style: normal;
    }
  }
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

.sidebar {
  
  ul {

    li {
      font-size: 1.8em;

      .rating {
        
        color: $dark_red;
        font-family: 'Colleged', serif;
        font-style: normal;
      }
    }
  }
}

.main {

  .h1 {
    font-family: 'Roboto Slab', serif;

    em {
      color: $dark_red;
      font-family: 'Colleged', serif;
      font-size: 0.8em;
      font-style: normal;
    }
  }

  .location-body {

  }
}

footer {
  margin: 0 5px 0 5px;
}