body {
  background-color: $brightest; 
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);

  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

header {

  .logo {
    color: $dark_blue;
    font-family: 'Colleged', serif;
    font-size: 2.7em;
    font-weight: normal;
    line-height: normal;
    margin: 5px 0 0 0;
    text-transform: uppercase;

    em {
      color: $dark_red;
      font-style: normal;
    }
  }
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}

.main {

  .location-rating {
    color: $dark_red;
    display: inline-block;
    font-family: 'Colleged', serif;
    font-size: 2.0em;
    @include rotate(-10);
    border-radius: 999px;
    border: $dark_red solid 3px;
    width: 36px;
    height: 36px;
    padding: 8px;
  }
}

footer {
  margin: 0 5px 0 5px;
}

